/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /*Index.css*/
html{
    font-family: monospace;
    font-size: larger;
}
.day-est {
        font-style: oblique;
        font-size: smaller;
        font-variant: small-caps;
        align-content: flex-end;
        float: right;
}
.check {
    width: 10px;
    height: 10px;
    background: #ddd;
    margin: 10px 5px;

    border-radius: 100%;
    position: relative;

}
#add-todo-btn {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:14px;
	padding:5px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	margin-left: 5px;
}
#add-todo-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	
	background-color:#476e9e;
}
#add-todo-btn:active {
	position:relative;
	top:1px;
}
input[type=checkbox] {
         position: relative;
	       cursor: pointer;
	       margin: 10px 10px 1px 10px;
	       top: -8px;
	       
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0;
         left: 0;
         border: 2px solid #555555;
         border-radius: 3px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid black;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 7px;
}

.index-bar:hover{
    background-color: grey;
}
.index-bar{
    background-color: #2ECC40;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 800px;
    margin: 0 auto;
}
h1{
    text-align: center;
    background-color: cyan;
    border-radius: 15px;
    display: flex;
    height: 30px;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin: 0  auto;
}
body {
    background: linear-gradient(white,grey) fixed;
    
}
#add-index{
    background-color: grey;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    border-radius: 5px;

    height: 40px;
    
}
.completed-todo{
    text-decoration: line-through;
}


/*end of index.css*/

/*start of show.css*/
input[type=checkbox] {
         position: relative;
	       cursor: pointer;
	       margin: 10px 10px 1px 10px;
	       top: -8px;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0;
         left: 0;
         border: 2px solid #555555;
         border-radius: 3px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid black;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 7px;
}

#bar-show {
    background-color: gray;
    border-radius: 0px;
    padding: 8px;
    margin: 0 auto;
    max-width: 600px;

}

.btn{
    background: linear-gradient(black, darkred);
    color: white;
    padding: 2px;
    border-radius: 5px;
    margin: 1px;
}

h1{
    text-align: center;
    background-color: cyan;
    border-radius: 15px;
}

#gback{
    background: linear-gradient(red, darkorange);
    color: white;
    padding: 2px;
    border-radius: 5px;
    margin-left: 20px;
}
#content-show{
    color: black;
    margin-left: 10px;
    max-width: 600px;
}
#show-first-bar{
    background-color: #2ECC40;
    padding: 8px;
    max-width: 600px;
    margin: 0 auto;
}
/*end of show.css*/
