
<h1 id="head">Do these ToDo's</h1>
        <ul style="list-style: none">
            <% @todos.each do |todo| %>
                <li class="index-bar">
                    <input type="checkbox" class="check"><a href="/todo/show/<%= todo.id %>" "style="text-decoration:none">
                        <%=todo.description%>
                            </a>
                                <span class="day-est"><%=todo.time_estimate%> day(s)</span>
                </li>
            <% end %>
            
           
        </ul>
        <a href="/todo/new" id="add">
            <input type="button" class="new-todo" value="+">
        </a>
