 <a href="/" class="head-link">
 <h1 id="head">
     
     Add New Todo</h1>
     </a>
            <p style="font-size: 60px"></p>
     <form action="create"> 
        
        <p id="add-index">
            
                <input type="text" placeholder="add new todo" id="new-todo-name" style="margin: 0 auto" name="description">
            <input type="number" placeholder="add days" id="new-todo-days" style="margin: 0 auto" name="time_estimate">
            <input type="submit" value="Add" class="add-todo-btn" style="margin: 0 auto">
        </p>
     </form>
           