        <h1 id="head">Review these ToDo's</h1>
            <u1 style="list-style: none">
                
                <li><span id="content-show"><%=@todo_name%></span><span class="day-est"><%=@todo_days%> days(s)</span></li>
            </u1>
        
        <div>    
            <p id="bar-show">
            <a href="#" id="edt-btn" class="btn" style="text-decoration:none">edit</a>
            <a href="#" id="delete-btn" class="btn" style="text-decoration:none">delete</a>
            <a href="index.html"  id="gback" style="text-decoration:none">go back</a>
            </p>

            
        </div>